In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('games.csv')
df.iloc[0]

id                                                         TZJHLljE
rated                                                         False
created_at                                              1.50421e+12
last_move_at                                            1.50421e+12
turns                                                            13
victory_status                                            outoftime
winner                                                        white
increment_code                                                 15+2
white_id                                                   bourgris
white_rating                                                   1500
black_id                                                       a-00
black_rating                                                   1191
moves             d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...
opening_eco                                                     D10
opening_name                       Slav Defense: Exchange Variation
opening_ply                                                       5
Name: 0, dtype: object

In [5]:
df.describe()

,created_at,last_move_at,turns,white_rating,black_rating,opening_ply
count,2.005800e+04,2.005800e+04,20058.000000,20058.000000,20058.000000,20058.000000
mean,1.483617e+12,1.483618e+12,60.465999,1596.631868,1588.831987,4.816981
std,2.850151e+10,2.850140e+10,33.570585,291.253376,291.036126,2.797152
min,1.376772e+12,1.376772e+12,1.000000,784.000000,789.000000,1.000000
25%,1.477548e+12,1.477548e+12,37.000000,1398.000000,1391.000000,3.000000
50%,1.496010e+12,1.496010e+12,55.000000,1567.000000,1562.000000,4.000000
75%,1.503170e+12,1.503170e+12,79.000000,1793.000000,1784.000000,6.000000
max,1.504493e+12,1.504494e+12,349.000000,2700.000000,2723.000000,28.000000

In [6]:
df.white_rating.describe()

count    20058.000000
mean      1596.631868
std        291.253376
min        784.000000
25%       1398.000000
50%       1567.000000
75%       1793.000000
max       2700.000000
Name: white_rating, dtype: float64

In [7]:
df.victory_status.unique()

array(['outoftime', 'resign', 'mate', 'draw'], dtype=object)

In [11]:
mean = df.turns.mean()
mean

60.46599860404826

In [15]:
# Using map to map each elements to another one (here lambda function is used. Other declarative function can also be used)
df.turns.map(lambda x: (x - mean) * (x - mean))

0        2253.021023
1        1977.225032
2           0.285157
3           0.285157
4        1192.597252
            ...
20053    1329.769054
20054     463.713216
20055     648.517085
20056    2355.549292
20057     307.441205
Name: turns, Length: 20058, dtype: float64

In [38]:
# def change(row): 
#     if row['winner'] == 'white':
#         row['winner'] = 'black'
#     elif row['winner'] == 'black':
#         row['winner'] = 'white'
#     return row

# df.apply(change, axis=0)

# map and apply returns a different DataFrame object

In [40]:
df.opening_name.unique()

array(['Slav Defense: Exchange Variation',
       'Nimzowitsch Defense: Kennedy Variation',
       "King's Pawn Game: Leonardis Variation", ...,
       "Queen's Indian Defense: Classical Variation |  Traditional Variation",
       "Queen's Gambit Declined: Slav |  Dutch Variation",
       'Sicilian Defense: Najdorf Variation |  Polugaevsky Variation'],
      dtype=object)

In [42]:
white_rating_mean = df.white_rating.mean()
df.white_rating - white_rating_mean

0        -96.631868
1       -274.631868
2       -100.631868
3       -157.631868
4        -73.631868
            ...
20053     94.368132
20054   -363.631868
20055   -377.631868
20056   -236.631868
20057   -361.631868
Name: white_rating, Length: 20058, dtype: float64

In [49]:
df.seett = df.turns

In [65]:
df.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

In [63]:
df.white_id + ' - ' + df.victory_status

0         bourgris - outoftime
1                a-00 - resign
2                ischia - mate
3         daniamurashov - mate
4             nik221107 - mate
                 ...
20053         belcolt - resign
20054          jamboger - mate
20055          jamboger - mate
20056    marcodisogno - resign
20057          jamboger - mate
Length: 20058, dtype: object

In [ ]:
# The above operations are faster map / apply