In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('games.csv')
df.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

In [4]:
df.groupby('victory_status')

In [6]:
df.groupby('victory_status').mean()

,rated,created_at,last_move_at,turns,white_rating,black_rating,opening_ply
victory_status,,,,,,,
draw,0.751656,1.486593e+12,1.486595e+12,83.781457,1658.154525,1641.241722,5.056291
mate,0.813597,1.482697e+12,1.482697e+12,65.415020,1529.353676,1523.439684,4.497708
outoftime,0.808929,1.481289e+12,1.481291e+12,72.742857,1612.629167,1609.745833,4.672024
resign,0.804611,1.484248e+12,1.484249e+12,53.912533,1627.395263,1618.524984,5.000538

In [8]:
df.groupby('victory_status').apply(lambda df2: df2.turns)

victory_status
draw            5          5
                40        32
                98       113
                126      120
                143       12
                        ...
resign          20045     70
                20048     25
                20052     37
                20053     24
                20056    109
Name: turns, Length: 20058, dtype: int64

In [9]:
# groupby basically is making a group based on the attribute keeping all the data

In [21]:
df.groupby(['victory_status', 'winner']).apply(lambda x: x.white_rating.max())

victory_status  winner
draw            draw      2524
mate            black     2336
                white     2621
outoftime       black     2621
                draw      2225
                white     2621
resign          black     2621
                white     2700
dtype: int64

In [25]:
df.groupby(['victory_status']).turns.agg([min, max])
# multiple-group-by-dependency makes the resulting DataFrame multi-indexed.

                min  max
victory_status
draw              2  259
mate              4  222
outoftime         1  349
resign            1  218

In [30]:
df.sort_values(by=['turns', 'winner', 'victory_status'])

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
1946,3K5kYPO8,True,1.491530e+12,1.491530e+12,1,resign,black,10+0,serik-astana,1464,brorael357,1355,g3,A00,Hungarian Opening,1
13701,8uS7Lt5i,True,1.504400e+12,1.504400e+12,1,resign,black,10+0,networkchess2,1878,kaskade24,1860,d3,A00,Mieses Opening,1
1977,NfBNi0eX,False,1.491070e+12,1.491070e+12,1,outoftime,white,10+60,clarkkent89,2032,tactical_bishop,1223,e4,B00,King's Pawn,1
4115,3NQKJmJ5,False,1.500760e+12,1.500760e+12,1,outoftime,white,5+15,fairygirl,2404,oreo_or_orion,1616,e4,B00,King's Pawn,1
4473,rAO6oybn,False,1.480830e+12,1.480830e+12,1,outoftime,white,5+5,ranchowangdu,1500,justicebot,2723,e4,B00,King's Pawn,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,5ZjOnwjl,True,1.480271e+12,1.480272e+12,226,draw,draw,10+0,chunnev,1817,jhonthoth,1907,e4 e6 Nf3 d5 exd5 exd5 d4 Nf6 Bg5 Be7 Nc3 Be6 ...,C00,French Defense: Knight Variation,3
4236,vQq60Hur,True,1.474480e+12,1.474490e+12,255,draw,draw,7+2,manipin,1585,kasparovd0311,1448,e4 e6 Nc3 d5 exd5 exd5 d4 Nf6 Bf4 Be7 Nf3 O-O ...,C00,French Defense: Queen's Knight,3
16386,cZiGllu7,True,1.481753e+12,1.481755e+12,259,draw,draw,15+5,aragon26,1441,lone-wolf,1461,d4 d5 c4 c6 Nc3 Nf6 Bg5 Nbd7 Qc2 Qb6 e3 h6 Bf4...,D10,Slav Defense #2,5
11554,pN0ioHNr,True,1.503084e+12,1.503086e+12,349,outoftime,white,10+0,shiwen,2194,kijek,2240,d4 d5 c4 c6 Nf3 Nf6 Nc3 e6 Bg5 h6 Bxf6 Qxf6 Qb...,D30,Queen's Gambit Declined: Hastings Variation,13
13859,pN0ioHNr,True,1.503084e+12,1.503086e+12,349,outoftime,white,10+0,shiwen,2194,kijek,2240,d4 d5 c4 c6 Nf3 Nf6 Nc3 e6 Bg5 h6 Bxf6 Qxf6 Qb...,D30,Queen's Gambit Declined: Hastings Variation,13